<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>{% block metatitle %}{% endblock %}</title>
</head>
<body> 
<header>
    <nav class="header-nav">
        <img class="header-logo" src="{{asset('image/dracaufeu.jpg')}}" alt="pokemon logo">
        <ul class="header-links">
            <li><a href="{{ path("Accueil") }}">Accueil</a></li>
            <li><a href="{{ path("list_pokemons") }}">Pokemons</a></li>
            <li><a href="{{ path("pokemon_category") }}">Categories</a></li>
        </ul>
    </nav>
</header>
    {% block body %}{% endblock %}

<footer>
    <p>Copyright</p>
</footer>
</body>
</html>